<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Login</title>
	<meta name="description" content="login form">
	<meta name="author" content="Group 31">

	<link rel="stylesheet" type="text/css" href="../CSS/library.css">
</head>

<body>
	<div class="header">
		<h1>Library Web App</h1>
	</div>
	<br>
	<div class="login_options">
		<p>
			<a href="login_attempt.php"> Login </a>
		</p>
		<p>
			<a href="signup.php"> Sign Up! </a>
		</p>
	</div>
</body>
</html>
